@model Project_Webapplicaties.ViewModels.OverviewListViewModel
@{
    ViewData["Title"] = "All Gear";
}

<h1>All Gear</h1>

<div class="container">
    <form>
        <div class="row">
            <div class="col">
                <input type="text" asp-for="SearchResult" placeholder="Zoeken" />
            </div>
            <div class="col">
                <select class="custom-select" asp-for="@Model.RankSelection">
                    <option></option>
                    @foreach (var item in Model.Ranks)
                    {
                        <option>@item.Name</option>
                    }
                </select>
            </div>
            <div class="col">
                <select class="custom-select" asp-for="@Model.TypeSelection">
                    <option></option>
                    @foreach (var item in Model.Geartypes)
                    {
                        <option>@item.Name</option>
                    }
                </select>
            </div>
            <div class="col">
                <select class="custom-select" asp-for="@Model.TierSelection">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn-block" asp-controller="Gear" asp-action="Filter">Zoeken</button>
        </div>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Rank</th>
                <th>Tier</th>
                <th>Geartype</th>
                @if (this.User.Identity.IsAuthenticated)
                {
                    <th>Delete</th>
                }
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Gears)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Rank.Name
                    </td>
                    <td>
                        @item.Tier.ToString()
                    </td>
                    <td>
                        @item.Geartype.Name
                    </td>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <td>
                            <button asp-controller="Gear" asp-action="Delete" asp-route-id="@item.GearID">Delete</button>
                        </td>
                    }
                    <td>
                        <button asp-controller="Gear" asp-action="Details" asp-route-id="@item.GearID">Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}